body {
    font-size: 16px;
    background-color: #424242;
    color: #e5e5e5;
    font-family: Monospaced, sans-serif;
}

.wrapper {
    padding: 0 10px;
    max-width: 1200px;
    margin: 20px auto 0 auto;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.select-collection {
    width: 200px;
    font-size: 16px;
}

.documents-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.document {
    background-color: #e5e5e5;
    color: black;
    padding: 20px 20px;

    border-radius: 20px;
}

.document__json {
    padding: 5px;
    display: block;
    margin: 0 0 15px 0;
}

